:root {
    --color-1: rgb(255, 255, 255);
    --color-2: rgb(225, 235, 255);
    --color-3: rgb(195, 215, 255);
    --color-4: rgb(110, 158, 255);
    --color-5: rgb(50, 118, 255);
    --color-6: rgb(0, 85, 255);
}